*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    cursor: default;
}
a{
	text-decoration: none;
}
body{
	font-size: 14px;
	font-family: '微软雅黑';
	background: #f3f3f3;
	color: #6f6f6f;
}
table{
	width: 100%;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px solid #e3e3e3;
	line-height: 3em;
}
th{
	line-height: 2em;
}
tr:hover{
	background: rgba(255,255,255,0.3);
}
tr.th:hover{
	background: #fff;
}
th{
	padding: 10px 0;
    border-bottom: 1px solid #359cdb;
}
td{
	text-align: center;
}
.right{
	text-align:right;
}
.left{
	text-align: left;
}
.center{
	text-lign: center;
}
.red{
	color: #c73b41 !important;
}
.green{
	color: #68dc89 !important;
}
/* block width */
.block1{width:100% !important;float: right;margin-right: 0 !important;}
.block4{width: 24% !important;}
.block2{width: 49% !important;}
.block3{width: 32.3% !important;}
.block43{width: 74% !important;}
.block32{width: 65.6% !important;}
.block4_right{width: 25% !important;float: right;margin-right: 0 !important;}
.block2_right{width: 50% !important;float: right;margin-right: 0 !important;}
.block3_right{width: 33.3% !important;float: right;margin-right: 0 !important;}
.block43_right{width: 75% !important;float: right;margin-right: 0 !important;}
.block32_right{width: 66.6% !important;float: right;margin-right: 0 !important;}
/* head_part start */
.head{
	width: 100%;
	padding: 0px 70px;
	height: 70px;
	background: rgba(0,0,0,0.2);
	background: url(../img/bg_f.png) center fixed no-repeat;
	background-size: 100% 100%;
	color: #ddd;
	position: fixed;
    top: 0;
    z-index: 9999;
}
.head p img {
	height:50px;
	width:auto;
}

.tittle{
    font-size: 28px;
    line-height: 70px;
    letter-spacing: 2px;
    margin-left: 5px;
    vertical-align: middle;
}
.close{
	float: right;
	line-height: 70px;
	margin-right: -40px;
}
.close i:hover{
	color: #fff;
}
.close i{
	font-size: 36px;
	cursor: pointer;
}
/* head_part end */
/* banner start */
.banner{
	width: 100%;
	height: 70px;
	background: #e8e8e8;
	color: #676767;
    position: fixed;
    top: 70px;
    z-index: 9999;
}
.banner>p{
	display: inline-block;
	line-height: 70px
}
.banner_left{
	font-size: 20px;
	padding-left: 70px;
}
.banner_left>span{
	padding: 0 20px;
	border-bottom: 3px solid #e8e8e8;
	padding-bottom: 19px;
	cursor: pointer;
}
.banner_left>span.banner_active{
	border-bottom: 3px solid #359cdb;
	cursor: default;
}
.banner_right{
	float: right;
	color: #676767;
}
.company{
	background: rgba(0,0,0,0);
    color: #a8a8a8;
    width: 14em;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
}
.choose_date{
	background: rgba(0,0,0,0);
    color: #a8a8a8;
    width: 8em;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #a9a9a9;
    margin-right: 20px;
}
.search{
	line-height: 1.4;
    background: #17b1f7;
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.search:hover{
	background: #37C0FF;
}
.icon-qizi{
    color: #a9a9a9;
    font-size: 26px !important;
    line-height: 50px;
    vertical-align: middle;
}
.icon-qizi:hover{
	color: #ccc;
}
.rate{
	border: 1px solid #a9a9a9;
    border-radius: 5px;
    line-height: 28px;
    display: inline-block;
    width: 8em;
    text-align: center;
    margin-right: 20px;
    color: #ccc;
}
.rate_active{
	color: #666;
}
/* banner end */
/* content start */
.content{
	padding: 30px 40px;
	margin-top: 140px;
}
.content>div{
	margin-bottom: 20px;
	display: flex;
	align-items: stretch;
}
	/* block part start */
	.block{
		border: 1px solid #e3e3e3;
		padding: 20px;
		display: inline-block;
		margin-right: 1%; 
		background: #fff;
		min-height: 300px;
		overflow: hidden;
	    vertical-align: top;
	}
	.block_right{
		margin-right: 0;
		float: right;
	}
	.block_title{
		border-left: 3px solid #339cde;
		padding-left: 10px;
		padding-right: 24px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.title_right{
		float: right;
		color: #a8a8a8;
	}
	/* block part end */
.cash_div11{
	/* width: 25%; */
}
.cash_img{
	vertical-align: middle;
}
.cash1{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 20px;
}
.cash1_title{
	font-size: 16px;
	color: #a8a8a8;
	line-height: 3em;
}
.cash1_text{
	color: #34a0d8;
	font-size: 30px;
}
.danwei{
	font-size: 14px !important;
}
.cash2{
	color: #a8a8a8;
	margin: 20px 0;
}
.cash2 span{
	font-size: 24px;
}
.cash2 .green{
	margin-right: 30px;
}
.cash3{
	width: 50%;
	float: left;
	text-align: left;
}
.cash3>p:first-child{
	line-height: 3em;
	color: #a8a8a8;
}
.cash3>p:nth-child(2){
	font-size: 24px;
}
.cash_div12{
}
.cash_div13{
	position: relative;
}
i.icon-qizi{
	line-height: 1em;
	cursor: pointer;
}
.cash31{
	display: inline-block;
	width: 120px;
	height: 120px;
}
.explain{
	position: absolute;
	right: 20px;
	top: 150px;
	color: #9ad0ef;
}
.explain>span{
    color: #fff;
    background: #9ad0ef;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
	cursor: pointer;
}
.explain>a{
	text-decoration: underline;
	cursor: pointer;
}
.cash_div21{
}
.cash_div21 table{
	line-height: 2.5em;
}
.cash41{
	width: 100%;
	height: 350px;
}
.cash_div22{
}
/* content end */
@media screen and (max-width: 1680px){
	.explain{
		top: 50px;
	}
}
@media screen and (max-width: 1480px){
body{
		width: 1480px;
	}
}
.block_body{
		height: calc(100% - 50px);
	}
.inner2{
	display: inline-block;
	width: 50%;
	float:left;
	padding: 0 10px;
	height: 100%;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.inner2:last-child{
	border-right: none;
}
.inner4{
	display: inline-block;
	width: 25%;
	float:left;
	padding: 0 10px;
	height: 100%;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.inner4:last-child{
	border-right: none;
}
.inner43{
	display: inline-block;
	width: 75%;
	float:left;
	padding: 0 10px;
	height: 100%;
	border-top: 1px solid #e6e6e6;
	
}

.choose_date{
	width: auto;
	display: inline-block;
    color: #a8a8a8;;
    background-color: rgba(0,0,0,0) !important;
    border: 1px solid #ccc;
}
th {
    text-align: center;
}