body{
	background-image: url(/images/login-gs.jpg);
	background-size: cover;
	background-repeat: no-repeat;background-position: center center;
	font-family: "microsoft yahei";
}
.login-bg{
	margin-top: 80px;
}
.login-bg p.logo{
	text-align: center;
}
.login-bg p.logo img{
	height: 60px;width: auto;
}
.login-box{
	width: 660px;
	height: 440px;margin:0px auto;
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px 3px rgba(51, 51, 51, 0.2);
	position: relative;
}
.header img{
	width: auto;height:60px;margin-left: 20px;margin-top: 10px;
}
.login-box .img-box{
	position: absolute;
	right: 0px;top:0px;
	height: 440px;width: 200px;
}
.login-box .img-box img{
	height: 440px;width: 200px;
	position: absolute;top:0px;
	right: 0px;z-index: 1;
}
.login-box form{
	padding-right: 200px;
	border-top:solid 5px #D8B173;
}
.login-box form p{
	padding:35px 10px 20px 50px;
	margin: 0px;
}
.login-box form p img{
	height: 35px;
	width: auto;
}
.login-box form span{
	display: block;
	padding: 10px 55px 5px 55px;;
}
.login-box form span label{
	display: block;font-size: 13px;color: #344252;font-weight: normal;
}
.login-box form span input.form-control{
	border-radius: 4px;
	border: solid 1px #e8e8e8;	
}
span.sgin-box a.sgin{
	display: inline-block;padding: 8px 80px;border-radius: 20px;
	background-image: -webkit-linear-gradient(to right, #782623, #9e0600);
	background-image: linear-gradient(to right,  #782623, #9e0600);color: #FFFFFF;font-weight: bold;text-align: center;
}
span.sgin-box{
	padding: 20px 0px 35px 0px!important;border-bottom: solid 1px #EEEEEE;
	margin: 10px 55px;
}
body.ie8.no-js span.sgin-box a.sgin{
	background:#782623;
}
span.copyright{
	padding-top: 20px !important;
	color: #C0C0C0;font-size: 12px;
}
span.remember{
	color: #aaa;font-size: 13px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.login-box{
	width: 600px;
	height: 400px;
}
.login-box .img-box{
	height: 400px;width: 180px;
}
.login-box .img-box img{
	height: 400px;width: 180px;
}
.login-box form{
	padding-right: 180px;
}
.login-box form p{
	padding:30px 10px 20px 50px;
	margin: 0px;
}
}
@media (min-width: 481px) and (max-width: 767) {
	.login-box{
	width: 500px;
	height: 300px;
}
.login-box .img-box{
	height: 300px;width: 120px;
}
.login-box .img-box img{
	height: 300px;width: 120px;
}
.login-box form{
	padding-right: 120px;
}
.login-box form p{
	padding:20px 10px 20px 50px;
	margin: 0px;
}
}
@media (max-width: 480px) {
	.login-box{
	width: 300px;
	height: 380px;
}
.login-box .img-box{
	display: none;
	height: 300px;width: 120px;
}

.login-box form{
	padding-right: 0px;
}
.login-box form p{
	padding:20px 10px 20px 30px;
	margin: 0px;
}.login-box form span{
	display: block;
	padding: 10px 35px 5px 35px;;
}
	}